service: exampleapi

provider:
  name: aws
  stage: dev
  runtime: nodejs8.10
  region: eu-west-1
  memorySize: 512
  environment:
    TABLE_NAME: ${self:custom.tableName}
  apiKeys:
    - ${opt:stage}-ExampleApi

plugins:
  - serverless-offline

custom:
  stage: ${opt:stage, self:provider.stage}
  tableName: ${self:custom.stage}-Employee
  tableThroughputs:
    prod: 1
    default: 1
  tableThroughput: ${self:custom.tableThroughputs.${self:custom.stage}, self:custom.tableThroughputs.default}

functions:
  createLocalDb:
    handler: handlers.createLocalDb
    events:
      - http:
          path: create-local-db
          method: get
  getAppVersion:
    handler: handlers.getAppVersion
    events:
      - http:
          path: version
          method: get
          private: true
  getEmployee:
    handler: handlers.getEmployee
    events:
      - http:
          path: employees
          method: get
  createEmployee:
    handler: handlers.createEmployee
    events:
      - http:
          path: employees
          method: post
          cors: true

resources:
  - ${file(resources/dynamodb-table.yml)}
